<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="db-login">
  <template>

    <iron-ajax
       id="loginAjax"
       url="https://techu-2019.herokuapp.com/techu-api/v1/usuario/login"
       method="post"
       content-type="application/json"
       last-response="{{response}}"
       on-response="_loginComplete"
       on-error="_loginError">
    </iron-ajax>

    <iron-ajax
       id="logoutAjax"
       url="https://techu-2019.herokuapp.com/techu-api/v1/usuario/logout"
       method="post"
       content-type="application/json"
       last-response="{{response}}"
       on-response="_logoutComplete"
       on-error="_logoutError">
    </iron-ajax>

  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class DbLogin extends Polymer.Element {
      static get is() { return 'db-login'; }
      static get properties() {
        return {
          logged:{
            type: Object,
            notify: true
          },
          user:{
            type: Object,
            notify: true
          },
          error:{
            type: Object,
            notify: true
          },
          response:{
            type: Object,
            notify: true
          }
        };

      }

      login(){
        this.$.loginAjax.body = {
                    "registry": this.user.registry,
                    "password": this.user.password
                  }
        this.$.loginAjax.generateRequest();
      }

      logout(){

        this.$.logoutAjax.body = {
                    "registry": this.logged.registry
                  }
        this.$.logoutAjax.generateRequest();
      }

      setError(mostrar, mensaje){
        var error = {
            "mostrar" : mostrar,
            "mensaje" : mensaje
        }
        this.error = error;
      }

      _loginComplete(e){
        this.logged = {   
              "isLogged" : true,
              "registry" : this.response.registry,
              "role" : this.response.role,
              "token" : this.response.token
        }
        this.setError(false, "");
      }

      _loginError(e){
        const req = e.detail.request.__data;
        console.log(e);
        console.log(req.response);
        this.setError(true, req.response.msg);
      }

      _logoutComplete(e){

        const req = e.detail.__data;
        console.log("RESPUESTA - LOGOUT: " + req.status);

        if(req.status==200 || req.status==201){
          var logged = {   
              "isLogged" : false,
              "token" : ""
          }
          this.logged = logged;
        }
      }

    }

    window.customElements.define(DbLogin.is, DbLogin);
  </script>
</dom-module>
