<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/app-storage/app-localstorage/app-localstorage-document.html">

<link rel="import" href="../db-login/db-login.html">
<link rel="import" href="../db-delitos/db-delitos.html">


<dom-module id="ui-main">
  <template>

    <app-localstorage-document id="logged" key="logged" data="{{logged}}" storage="window.localStorage"></app-localstorage-document>

    <db-login id="loginElement" logged="{{logged}}" error="{{error}}"></db-login>
    <db-delitos id="delitosElement" logged="{{logged}}" error="{{error}}" delitos={{delitos}}></db-delitos>

    <app-location route="{{route}}"></app-location>
    <app-route
      route="{{route}}"
      pattern="/:page"
      data="{{data}}"
      tail="{{subData}}">
    </app-route>

    <link rel="import" href="/src/ui-consulta-persona/ui-consulta-persona.html">
    <link rel="import" href="/src/ui-registro-persona/ui-registro-persona.html">
    <link rel="import" href="/src/ui-registro-personas/ui-registro-personas.html">
    <link rel="import" href="/src/ui-consulta-alerta/ui-consulta-alerta.html">

    <!-- Custom fonts for this theme -->
    <link href="styles/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="styles/css/freelancer.css" rel="stylesheet">


    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Listas no deseadas</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <template is="dom-if" if="[[_compareRole(logged.role, 'admin;vendedor')]]">
              <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="consulta">Consulta</a>
              </li>
            </template>
            <template is="dom-if" if="[[_compareRole(logged.role, 'admin')]]">
              <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="registro">Registro</a>
              </li>
              <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="registromas">Masivos</a>
              </li>
              <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="alerta">Alerta</a>
              </li>
            </template>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="active nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#" on-click="_logoutEvent">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <iron-pages selected="[[data.page]]" attr-for-selected="page" fallback-selection="consulta" role="main">
        <ui-consulta-persona page="consulta" logged="[[logged]]" delitos="[[delitos]]"></ui-consulta-persona>
        <ui-registro-persona page="registro" logged="[[logged]]" delitos="[[delitos]]" init-delitos=[[delitos]]></ui-registro-persona>
        <ui-registro-personas page="registromas" logged="[[logged]]" delitos="[[delitos]]"></ui-registro-personas>
        <ui-consulta-alerta page="alerta" logged="[[logged]]"></ui-consulta-alerta>
    </iron-pages>

    <!-- Copyright Section -->
    <section class="copyright py-4 text-center text-white">
      <div class="container">
        <small>Copyright &copy; TechU Practitioner 2019</small>
      </div>
    </section>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-to-top d-lg-none position-fixed ">
      <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>

  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class UiMain extends Polymer.Element {
      static get is() { return 'ui-main'; }
      static get properties() {
        return {
          data: {
            type: Object,
            notify: true
          },
          logged:{
            type: Object,
            notify: true
          },
          delitos: {
            type: Array,
            notify: true
          }
        };
      }

      ready(){
        super.ready();  
        var delitosElement = this.$.delitosElement;
        delitosElement.consulta();
      }

      _logoutEvent(){
        var loginElement = this.$.loginElement;
        loginElement.logout();
      }

      _compareRole(role, roles){
        var arrayRoles = roles.split(/\s*;\s*/);
        var encontrado = false;
        for (var i=0; i < arrayRoles.length; i++) {
          if(arrayRoles[i] == role){
             encontrado = true;
          }
        }
        return encontrado;
      }
    }

    window.customElements.define(UiMain.is, UiMain);
  </script>
</dom-module>
