<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<link rel="import" href="../db-alerta/db-alerta.html">

<dom-module id="ui-consulta-alerta">
  <template>

    <db-alerta id="alertaElement" logged="{{logged}}" error="{{error}}" notificadores="{{notificadores}}" ></db-alerta>

    <!-- Custom fonts for this theme (color)-->
    <link href="styles/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="styles/css/freelancer.css" rel="stylesheet">

    <!-- Contact Section -->
    <section class="page-section" id="contact">
      <br/><br/>

      <div class="container">
        <div class="page-header">
          <h1>Notificaciones</h1>
          <br>
        </div>

        <!-- Contact Section Form -->
        <form name="sentMessage" id="contactForm" novalidate="novalidate">


          <div class="row">
          <div class="offset-md-1 col-md-5">
                <div class="control-group">
                  <div class="form-group floating-label-form-group controls mb-0 pb-2">
                    <label>Correo</label>
                    <input class="form-control" id="Correo" type="email" placeholder="Correo" value="{{email::input}}"
                    on-blur="_nuevoRegistro" on-focus="_nuevoRegistro">
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="control-group">
                    <br>
                    <button type="button" class="btn btn-primary btn-xl" on-click="_agregarNotificador">Agregar</button>
                </div>

                <br>
                <div id="success"></div>
            </div>
          </div>


        <div class="row">
          <div class="offset-md-1 col-md-10">
            <template is="dom-if" if="[[error.mostrar]]">
              <div class="alert alert-danger" role="alert">
                [[error.mensaje]]
              </div>
            </template>
          </div>
        </div>
          <div class="row">
            <div class="offset-md-1 col-md-10">
              <template is="dom-if" if="[[confirmacion]]">
                <div class="alert alert-success" role="alert">
                  Se ha registrado correctamente!
                </div>
              </template>
            </div>
          </div>

          <br>
        <div class="row">

          <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Correo</th>
              <th scope="col">Acción</th>
            </tr>
          </thead>
          <tbody>

            <template is="dom-repeat" items="[[notificadores]]">
              <tr>
                <td>[[item.email]]</td>
                <td>
                  <button type="button" class="btn btn-default btn-xs" on-click="_quitarNotificador">
                    <i class="fas fa-trash-alt"></i> Eliminar
                  </button>
                </td>
              </tr>
            </template>
          </tboddy>
        </table>
        </div>

        </form>
      </div>
    </section>

  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class UiConsultaAlerta extends Polymer.Element {
      static get is() { return 'ui-consulta-alerta'; }
      static get properties() {
        return {
          logged:{
            type: Object,
            notify: true
          },
          confirmacion: {
            type: Boolean,
            value: false
          },
          notificadores: {
            type: Array,
            notify: true,
            value: []
          },
          error:{
            type: Object,
            notify: true
          },
          email:{
            type: String,
            notify: true
          }
        };
      }

      ready(){
        super.ready();  
        var alertaElement = this.$.alertaElement;
        alertaElement.consulta();
      }
      
      _agregarNotificador(){
        var alertaElement = this.$.alertaElement;
        alertaElement.setError(false, "");
        this._nuevoRegistro();
        if(this._validateEmail(this.email)){
          var formulario = {
              "email" : this.email
          }
          alertaElement.registro(formulario);
          this.email = "";
          this.confirmacion = true;
        }else{
          alertaElement.setError(true, "Correo ingresado con formato incorrecto");
        }
      }

      _quitarNotificador(e){
        var idEliminar = e.model.item._id;
        console.log("eliminando: " + idEliminar);
        var alertaElement = this.$.alertaElement;
        alertaElement.eliminar(idEliminar);
      }

       _validateEmail(email) {
          var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
          return re.test(String(email).toLowerCase());
      }

      _nuevoRegistro(){
        this.confirmacion = false;
      }

    }

    window.customElements.define(UiConsultaAlerta.is, UiConsultaAlerta);
  </script>
</dom-module>
