<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../db-infractor/db-infractor.html">

<dom-module id="ui-consulta-persona">
  <template>

    <db-infractor id="infractorElement" form-consulta="{{formulario}}" logged="{{logged}}" error="{{error}}" infractores="{{infractores}}"></db-infractor>

    <!-- Custom fonts for this theme (color)-->
    <link href="styles/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="styles/css/freelancer.css" rel="stylesheet">

    <!-- Contact Section -->
    <section class="page-section" id="contact">
      <br/><br/>

      <div class="container">
        <div class="page-header">
          <h1>Consulta de Personas no Deseadas</h1>
          <br>
        </div>

        <!-- Contact Section Form -->
        <form name="sentMessage" id="contactForm" novalidate="novalidate">
          <div class="row">
          <div class="offset-md-1 col-md-5">
                <div class="control-group">
                  <div class="form-group floating-label-form-group controls mb-0 pb-2">
                    <br>
                    <select class="form-control" value="{{formulario.tipo_documento::change}}">
                      <option value="">Seleccionar tipo documento</option>
                      <option value="DNI">DNI</option>
                      <option value="CE">Carnet Extranjeria</option>
                    </select>
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="control-group">
                  <div class="form-group floating-label-form-group controls mb-0 pb-2">
                    <label>nrodocumento</label>
                    <input class="form-control" type="text" placeholder="Nro de documento" value="{{formulario.numero_documento::input}}">
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <br>
                <div id="success"></div>
            </div>
          </div>


          <div class="row">
          <div class="offset-md-1 col-md-5">
                <div class="control-group">
                  <div class="form-group floating-label-form-group controls mb-0 pb-2">
                    <label>Nombres</label>
                    <input class="form-control" id="Nombres" type="text" placeholder="Nombres" value="{{formulario.nombres::input}}">
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="control-group">
                  <div class="form-group floating-label-form-group controls mb-0 pb-2">
                    <label>Apellidos</label>
                    <input class="form-control" type="text" placeholder="Apellido paterno" value="{{formulario.apellido_paterno::input}}">
                    <p class="help-block text-danger"></p>
                  </div>
                </div>

                <br>
                <div id="success"></div>
            </div>
          </div>



          <div class="row">
            <div class="offset-md-1 col-md-5">
                <div class="control-group">
                  <div class="form-group floating-label-form-group controls mb-0 pb-2">
                    <br>
                    <select class="form-control" value="{{formulario.delito::change}}">
                      <option value="0">Delitos (Todos)</option>
                      <template is="dom-repeat" items="{{delitos}}">
                          <option value="{{item._id}}">{{item.descripcion}}</option>
                      </template>
                    </select>
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="control-group">
                  <div class="form-group floating-label-form-group controls mb-0 pb-2">
                    <label>Apellido materno</label>
                    <input class="form-control" id="Nombres" type="text" placeholder="Apellido materno" value="{{formulario.apellido_materno::input}}">
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <br>
                <div id="success"></div>
            </div>
          </div>

        <div class="row">
          <div class="offset-md-1 col-md-10">
            <template is="dom-if" if="[[error.mostrar]]">
              <div class="alert alert-danger" role="alert">
                [[error.mensaje]]
              </div>
            </template>
          </div>
        </div>

        <div class="col-md-5 offset-md-5">
          <div class="form-group">
            <br>
            <button type="button" class="btn btn-primary btn-xl" id="sendMessageButton" on-click="_buscarInfractores">Buscar</button>
          </div>
          <div class="form-group">
          </div>
        </div>

        <template  is="dom-if" if="[[buscado]]">

          <div class="row">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">Fecha de Ingreso</th>
                  <th scope="col">Tipo Documento</th>
                  <th scope="col">Nro. Documento</th>
                  <th scope="col">Nombres</th>
                  <th scope="col">Apellidos</th>
                  <th scope="col">Tipo de delito</th>
                  <template  is="dom-if" if="[[_compareRole(logged.role, 'admin')]]">
                    <th scope="col">Acción</th>
                  </template>
                </tr>
              </thead>
              <tbody>

                <template is="dom-repeat" items="[[infractores]]">
                  <tr>
                    <td>[[item.fecha_registro]]</td>
                    <td>[[item.tipo_documento]]</td>
                    <td>[[item.numero_documento]]</td>
                    <td>[[item.nombres]]</td>
                    <td>[[item.apellido_paterno]] [[item.apellido_materno]]</td>
                    <td>
                      <template is="dom-repeat" items="[[item.delitos]]" as="delitoItem">
                        <span>[[delitoItem.descripcion]]</span><br/>
                      </template>
                    </td>

                    <template  is="dom-if" if="[[_compareRole(logged.role, 'admin')]]">
                      <td>
                        <!--
                        <button type="button" class="btn btn-default btn-xs" on-click="_editarInfractor">
                          <i class="fas fa-pencil-alt"></i> Editar
                        </button>
                        -->
                        <button type="button" class="btn n-defaulbtn-xs" on-click="_eliminarInfractor">
                          <i class="fas fa-trash-alt"></i> Eliminar
                        </button>
                      </td>
                    </template>
                  </tr>
                </template>
              </tbody>
            </table>
          </div>

        </template>

        </form>
      </div>
    </section>

  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class UiConsultaPersona extends Polymer.Element {
      static get is() { return 'ui-consulta-persona'; }
      static get properties() {
        return {
          buscado:{
            type: Boolean,
            value: false
          },
          logged:{
            type: Object,
            notify: true
          },
          delitos: {
            type: Array,
            notify: true
          },
          infractores: {
            type: Array,
            notify: true
          },
          formulario: {
            type: Object,
            notify: true,
            value : {
                "id" : "",
                "tipo_documento" : "",
                "numero_documento" : "",
                "nombres" : "",
                "apellido_paterno" : "",
                "apellido_materno" : "",
                "delito" : "0"
            }
          }
        };
      }

      _buscarInfractores(){

        var infractorElement = this.$.infractorElement;
        console.log(this.formulario);
        infractorElement.setError(false, "");

        if(this.formulario.numero_documento != ""){
          if(this.formulario.tipo_documento == "DNI" && 
             this.formulario.numero_documento.length != 8){
            infractorElement.setError(true, "Ingresar 8 dígitos en el número de documento");
          }else if(this.formulario.tipo_documento == "CE" && 
                   this.formulario.numero_documento.length != 11){
            infractorElement.setError(true, "Ingresar 11 dígitos en el número de documento");
          }else{
            infractorElement.consulta();
            this.buscado = true;
          }

        }else{
          infractorElement.consulta();
          this.buscado = true;
        }

      }

      _editarInfractor(e){
        var item = e.model.item;
        console.log("idInfractor: " + item._id);
      }

      _eliminarInfractor(e){
        var idEliminar = e.model.item._id;
        var numDocumento = e.model.item.numero_documento;
        console.log("eliminando: " + numDocumento);
        var infractorElement = this.$.infractorElement;
        infractorElement.eliminar(numDocumento);
        // infractorElement.eliminar(idEliminar);
      }

      _compareRole(role, roles){
        var arrayRoles = roles.split(/\s*;\s*/);
        var encontrado = false;
        for (var i=0; i < arrayRoles.length; i++) {
          if(arrayRoles[i] == role){
             encontrado = true;
          }
        }
        return encontrado;
      }
    }

    window.customElements.define(UiConsultaPersona.is, UiConsultaPersona);
  </script>
</dom-module>
