<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="db-alerta">
  <template>

    <iron-ajax
       id="consultaAjax"
       url="https://techu-2019.herokuapp.com/techu-api/v1/notificador"
       method="get"
       content-type="application/json"
       last-response="{{response}}"
       on-response="_consultaComplete"
       on-error="_handlerError">
    </iron-ajax>

    <iron-ajax
       id="registroAjax"
       url="https://techu-2019.herokuapp.com/techu-api/v1/notificador"
       method="post"
       content-type="application/json"
       last-response="{{response}}"
       on-response="_registroComplete"
       on-error="_handlerError">
    </iron-ajax>

    <iron-ajax
       id="deleteAjax"
       url="https://techu-2019.herokuapp.com/techu-api/v1/notificador"
       method="delete"
       params="{{params}}"
       content-type="application/json"
       on-response="_eliminarComplete"
       on-error="_handlerError">
    </iron-ajax>

  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class DbAlerta extends Polymer.Element {
      static get is() { return 'db-alerta'; }
      static get properties() {
        return {
          logged:{
            type: Object,
            notify: true
          },
          notificadores:{
            type: Array,
            notify: true
          },
          error:{
            type: Object,
            notify: true
          },
          response:{
            type: Object,
            notify: true
          },
          params : {
            type: String
          }
        };
      }

      consulta(){
        this.$.consultaAjax.headers['Authorization'] = 'Bearer: ' + this.logged.token;
        this.$.consultaAjax.generateRequest();
      }

      registro(formulario){
        this.$.registroAjax.body = formulario;
        this.$.registroAjax.headers['Authorization'] = 'Bearer: ' + this.logged.token;
        this.$.registroAjax.generateRequest();
      }

      eliminar(idEliminar){
        this.params = { "id" : idEliminar };
        // this.params = idEliminar;
        this.$.deleteAjax.body = [];
        this.$.deleteAjax.headers['Authorization'] = 'Bearer: ' + this.logged.token;
        this.$.deleteAjax.generateRequest();
      }

      setError(mostrar, mensaje){
        var error = {
            "mostrar" : mostrar,
            "mensaje" : mensaje
          }
        this.error = error;
      }

      _consultaComplete(e){
        const req = e.detail.__data;
        console.log("RESPUESTA - CONSULTA ALERTA: " + req.status);
        console.log(this.response);
        this.notificadores = this.response;
      }
      _registroComplete(e){
        const req = e.detail.__data;
        console.log("RESPUESTA - REGISTRO ALERTA: " + req.status);
        this.consulta();
      }

      _eliminarComplete(e){
        console.log("RESPUESTA - ELIMINAR ALERTA: ");
        this.consulta();
      }

      _handlerError(e){
        console.log("ERROR - ALERTA");
        this.setError(true, "Ocurrio un error durante el registro");
      }

      setError(mostrar, mensaje){
        var error = {
            "mostrar" : mostrar,
            "mensaje" : mensaje
          }
        this.error = error;
      }

      _compareRole(role, roles){
        var arrayRoles = roles.split(/\s*;\s*/);
        var encontrado = false;
        for (var i=0; i < arrayRoles.length; i++) {
          if(arrayRoles[i] == role){
             encontrado = true;
          }
        }
        return encontrado;
      }
    }

    window.customElements.define(DbAlerta.is, DbAlerta);
  </script>
</dom-module>
