<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="db-delitos">
  <template>

    <iron-ajax
       id="consultaAjax"
       url="https://techu-2019.herokuapp.com/techu-api/v1/delito"
       method="get"
       content-type="application/json"
       last-response="{{response}}"
       on-response="_consultaComplete"
       on-error="_consultaError">
    </iron-ajax>


  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class DbDelitos extends Polymer.Element {
      static get is() { return 'db-delitos'; }
      static get properties() {
        return {
          logged:{
            type: Object,
            notify: true
          },
          delitos:{
            type: Array,
            notify: true
          },
          error:{
            type: Object,
            notify: true
          },
          response:{
            type: Object,
            notify: true
          }
        };

      }

      consulta(){
        this.$.consultaAjax.headers['Authorization'] = 'Bearer: ' + this.logged.token;
        this.$.consultaAjax.generateRequest();
      }

      setError(mostrar, mensaje){
        var error = {
            "mostrar" : mostrar,
            "mensaje" : mensaje
          }
        this.error = error;
      }

      _consultaComplete(e){
        const req = e.detail.__data;
        console.log("RESPUESTA - CONSULTA DELITOS: " + req.status);
        console.log(this.response);
        this.delitos = this.response;
      }

      _consultaError(e){
        const req = e.detail.request.__data;
        console.log("ERROR - CONSULTA DELITOS");
        console.log(e);
      }

    }

    window.customElements.define(DbDelitos.is, DbDelitos);
  </script>
</dom-module>
