<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="db-infractor">
  <template>

    <iron-ajax
       id="consultaAjax"
       url="https://techu-2019.herokuapp.com/techu-api/v1/infractor{{parameters}}"
       method="get"
       content-type="application/json"
       last-response="{{response}}"
       on-response="_consultaComplete"
       on-error="_handlerError">
    </iron-ajax>

    <iron-ajax
       id="registroAjax"
       url="https://techu-2019.herokuapp.com/techu-api/v1/infractor"
       method="post"
       content-type="application/json"
       last-response="{{response}}"
       on-response="_registroComplete"
       on-error="_handlerError">
    </iron-ajax>

    <iron-ajax
       id="registroMasivoAjax"
       url="https://techu-2019.herokuapp.com/techu-api/v1/infractor/masivo"
       method="post"
       content-type="application/json"
       last-response="{{response}}"
       on-response="_registroMasivoComplete"
       on-error="_handlerError">
    </iron-ajax>

    <iron-ajax
       id="deleteAjax"
       url="https://techu-2019.herokuapp.com/techu-api/v1/infractor"
       method="delete"
       params="{{parameters}}"
       content-type="application/json"
       last-response="{{response}}"
       on-response="_eliminarComplete"
       on-error="_handlerError">
    </iron-ajax>

  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class DbInfractor extends Polymer.Element {
      static get is() { return 'db-infractor'; }
      static get properties() {
        return {
          logged:{
            type: Object,
            notify: true
          },
          error:{
            type: Object,
            notify: true
          },
          infractores:{
            type: Object,
            notify: true
          },
          confirmacion : {
            type: Boolean,
            notify: true,
            value: false
          },
          response:{
            type: Object,
            notify: true
          },
          formConsulta:{
            type: Object,
            notify: true
          },
          formRegistro:{
            type: Object,
            notify: true
          },
          formRegistroMasivo:{
            type: Array,
            notify: true
          },
          parameters : String
        };

      }

      consulta(){
        
        var formulario = this.formConsulta;
        var parametros = "?";
        
        if(formulario.tipo_documento!=""){
          parametros += "tipo_doc=" + formulario.tipo_documento;
          parametros += "&";
        }
        if(formulario.numero_documento!=""){
          parametros += "doc=" + formulario.numero_documento;
          parametros += "&";
        }
        if(formulario.nombres!=""){
          parametros += "nom=" + formulario.nombres;
          parametros += "&";
        }
        if(formulario.apellido_paterno!=""){
          parametros += "ape_pat=" + formulario.apellido_paterno;
          parametros += "&";
        }
        if(formulario.apellido_materno!=""){
          parametros += "ape_mat=" + formulario.apellido_materno;
          parametros += "&";
        }
        
        if(formulario.delito!="0"){
          parametros += "delito=" + formulario.delito;
          parametros += "&";
        }

        this.parameters = parametros.substring(0, parametros.length - 1);
        console.log("consultaAjax - parametros (" + this.parameters + ")");
        this.$.consultaAjax.headers['Authorization'] = 'Bearer: ' + this.logged.token;
        this.$.consultaAjax.generateRequest();
      }

      registro(){
        this.$.registroAjax.body = this.formRegistro;
        console.log("registro: formRegistro");
        console.log(this.formRegistro);
        this.$.registroAjax.headers['Authorization'] = 'Bearer: ' + this.logged.token;
        this.$.registroAjax.generateRequest();
      }

      registroMasivo(){
        this.$.registroMasivoAjax.body = this.formRegistroMasivo;
        console.log("registro: formRegistroMasivo");
        console.log(this.formRegistroMasivo);
        this.$.registroMasivoAjax.headers['Authorization'] = 'Bearer: ' + this.logged.token;
        this.$.registroMasivoAjax.generateRequest();
      }

      eliminar(idEliminar){
        this.parameters = { "doc" : idEliminar };
        // this.parameters = idEliminar;
        this.$.deleteAjax.body=[];
        this.$.deleteAjax.headers['Authorization'] = 'Bearer: ' + this.logged.token;
        this.$.deleteAjax.generateRequest();
      }

      _consultaComplete(e){
        const req = e.detail.__data;
        console.log("RESPUESTA - CONSULTA INFRACTOR: " + req.status);
        console.log(this.response);
        this.infractores = this.response;
      }

      _registroComplete(){
        console.log("RESPUESTA - REGISTRO INFRACTOR: ");
        this.formRegistro = {
            "tipo_documento" : "DNI",
            "numero_documento" : "",
            "nombres" : "",
            "apellido_paterno" : "",
            "apellido_materno" : "",
            "recompensa" : "",
            "delitos" : [],
            "comentarios" : ""  
          }
        this.confirmacion = true;
        this.setError(false, "");
      }

      _registroMasivoComplete(){
        console.log("RESPUESTA - REGISTRO MASIVO INFRACTOR: ");
        this.formRegistro = [];
        this.confirmacion = true;
        this.setError(false, "");
      }

      _eliminarComplete(){
        console.log("RESPUESTA - ELIMINAR INFRACTOR: ");
        this.setError(false, "");
        this.consulta();
      }

      _handlerError(e){
        console.log("ERROR - INFRACTOR");
        this.setError(true, "Ocurrio un error durante el registro");
      }

      setError(mostrar, mensaje){
        var error = {
            "mostrar" : mostrar,
            "mensaje" : mensaje
          }
        this.error = error;
      }
      
    }

    window.customElements.define(DbInfractor.is, DbInfractor);
  </script>
</dom-module>
