<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<link rel="import" href="../db-infractor/db-infractor.html">

<dom-module id="ui-registro-persona">
  <template>

    <db-infractor id="infractorElement" form-registro="{{formulario}}" logged="[[logged]]" error="{{error}}" confirmacion="{{confirmacion}}"></db-infractor>

    <!-- Custom fonts for this theme (color)-->
    <link href="styles/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="styles/css/freelancer.css" rel="stylesheet">

    <!-- Contact Section -->
    <section class="page-section" id="contact">
      <br/><br/>
      <div class="container">
        <div class="page-header">
          <h1>Registro Unitario</h1>
          <br>
        </div>

        <!-- Contact Section Form -->
        <form name="sentMessage" id="contactForm" novalidate="novalidate">
          <div class="row">
            <div class="offset-md-1 col-md-5">
                <div class="control-group">
                  <div class="form-group floating-label-form-group controls mb-0 pb-2">
                    <br>
                    <select class="form-control" value="{{formulario.tipo_documento::change}}"
                         on-blur="_nuevoRegistro" on-focus="_nuevoRegistro">
                      <option value="DNI" selected>DNI</option>
                      <option value="CE">Carnet Extranjeria</option>
                    </select>
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="control-group">
                  <div class="form-group floating-label-form-group controls mb-0 pb-2">
                    <label>nrodocumento</label>
                    <input class="form-control" type="text" placeholder="Nro de documento" value="{{formulario.numero_documento::input}}"
                    on-blur="_nuevoRegistro" on-focus="_nuevoRegistro">
                    <p class="help-block text-danger"></p>
                  </div>
                </div>

                <br>
                <div id="success"></div>
            </div>
          </div>


          <div class="row">
            <div class="offset-md-1 col-md-3">
                <div class="control-group">
                  <div class="form-group floating-label-form-group controls mb-0 pb-2">
                    <label>Nombres</label>
                    <input class="form-control" type="text" placeholder="Apellido paterno" value="{{formulario.apellido_paterno::input}}">
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="control-group">
                  <div class="form-group floating-label-form-group controls mb-0 pb-2">
                    <label>Apellidos paterno</label>
                    <input class="form-control" id="Nombres" type="text" placeholder="Apellido materno" value="{{formulario.apellido_materno::input}}">
                    <p class="help-block text-danger"></p>
                  </div>
                </div>

                <br>
                <div id="success"></div>
            </div>
            <div class="col-md-4">
                <div class="control-group">
                  <div class="form-group floating-label-form-group controls mb-0 pb-2">
                    <label>Apellidos materno</label>
                    <input class="form-control" id="Nombres" type="text" placeholder="Nombres" value="{{formulario.nombres::input}}">
                    <p class="help-block text-danger"></p>
                  </div>
                </div>

                <br>
                <div id="success"></div>
            </div>
          </div>


          <div class="row">
            <div class="offset-md-1 col-md-4">
                <div class="control-group">
                  <div class="form-group floating-label-form-group controls mb-0 pb-2">
                    <br>
                    <select class="form-control" value="{{delito::change}}">
                      <option value="0" selected>Seleccionar (lista de delitos)</option>
                      <template is="dom-repeat" items="[[delitos]]">
                          <option value="[[item._id]]">[[item.descripcion]]</option>
                      </template>
                    </select>
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
              </div>
              <div class="col-md-2 align-center-custom">
                <div class="form-group">
                  <button type="button" class="btn btn-success btn-sl align-btn-custom" id="sendMessageButton" on-click="_agregarDelito">--></button>
                  <button type="button" class="btn btn-danger btn-sl align-btn-custom" id="sendMessageButton" on-click="_borrarDelito"><--</button>
                </div>
              </div>
              <div class="col-md-4">
                <div class="control-group">

                  <div class="form-group floating-label-form-group controls mb-0 pb-2">
                    <br>
                    <select class="form-control" value="{{delitoS::change}}" align-readonly-custom>
                      <option value="0" selected>Seleccionar (delitos seleccionados)</option>
                      <template is="dom-repeat" items="{{delitosSelected}}">
                          <option value="{{item._id}}">{{item.descripcion}}</option>
                      </template>
                    </select>
                    <p class="help-block text-danger"></p>
                  </div>
                </div>

                <br>
                <div id="success"></div>
            </div>
          </div>


          <div class="row">
            <div class="offset-md-1 col-md-5">
                <div class="control-group">
                  <div class="form-group floating-label-form-group controls mb-0 pb-2">
                    <label>Recompensa</label>
                    <input class="form-control" type="text" placeholder="Recompensa" value="{{formulario.recompensa::input}}">
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="control-group">
                  <div class="form-group floating-label-form-group controls mb-0 pb-2">
                    <label>Comentario</label>
                    <input class="form-control" type="text" placeholder="Comentarios" value="{{formulario.comentarios::input}}">
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <br>
                <div id="success"></div>
            </div>
          </div>

          <div class="row">
            <div class="offset-md-1 col-md-10">
              <template is="dom-if" if="[[error.mostrar]]">
                <div class="alert alert-danger" role="alert">
                  [[error.mensaje]]
                </div>
              </template>
            </div>
          </div>
          <div class="row">
            <div class="offset-md-1 col-md-10">
              <template is="dom-if" if="[[confirmacion]]">
                <div class="alert alert-success" role="alert">
                  Se ha registrado correctamente!
                </div>
              </template>
            </div>
          </div>

        <br/>
        <div class="col-md-5 offset-md-5">
          <div class="form-group">
            <button type="button" class="btn btn-primary btn-xl" id="sendMessageButton" on-click="_guardarRegistro">Guardar</button>
          </div>
        </div>

        </form>
      </div>
    </section>
  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class UiRegistroPersona extends Polymer.Element {
      static get is() { return 'ui-registro-persona'; }
      static get properties() {
        return {
          logged:{
            type: Object,
            notify: true
          },
          delitos: {
            type: Array,
            notify: true
          },
          initDelitos: {
            type: Array,
            notify: true
          },
          confirmacion : {
            type: Boolean,
            notify: true,
            observer: "_cambioForm",
            value: false
          },
          delito: {
            type: String,
            value: "0"
          },
          delitoS: {
            type: String,
            value: "0"
          },
          delitosSelected: {
            type: Array
          },
          formulario: {
            type: Object,
            notify: true,
            value : {
                "tipo_documento" : "DNI",
                "numero_documento" : "",
                "nombres" : "",
                "apellido_paterno" : "",
                "apellido_materno" : "",
                "recompensa" : "",
                "delitos" : [],
                "comentarios" : ""  
            }
          },
          error:{
            type: Object,
            notify: true,
            value: {
              "mensaje" : "",
              "mostrar" : false
            }
          }
        };
      }

      ready(){
        super.ready();  
      }

      _agregarDelito(){

        var allDelitos = this.initDelitos;
        var delitoSelected = this.delito;
        var initDelitoArray = this.delitos;
        var delitoSelectedArray;
        var finalDelitoArray;

        if(delitoSelected != "0"){
          finalDelitoArray = initDelitoArray.filter(x => x._id !== delitoSelected);
          delitoSelectedArray = allDelitos.filter(x => !finalDelitoArray.includes(x));

          this.delitos = finalDelitoArray;
          this.delitosSelected = delitoSelectedArray;
          this.delito = "0";
          this.delitoS = "0";

        }else{
          var infractorElement = this.$.infractorElement;
          infractorElement.setError(true, "Seleccione un delito a agregar");
        }

      }

      _borrarDelito(){

        var allDelitos = this.initDelitos;
        var delitoSelected = this.delitoS;
        var initDelitoArray = this.delitosSelected;
        var delitoSelectedArray;
        var finalDelitoArray;

        if(delitoSelected != "0"){
          finalDelitoArray = initDelitoArray.filter(x => x._id !== delitoSelected);
          delitoSelectedArray = allDelitos.filter(x => !finalDelitoArray.includes(x));

          this.delitosSelected = finalDelitoArray;
          this.delitos = delitoSelectedArray;
          this.delito = "0";
          this.delitoS = "0";

        }else{
          var infractorElement = this.$.infractorElement;
          infractorElement.setError(true, "Seleccione un delito a eliminar");
        }

      }

      _guardarRegistro(){

        var infractorElement = this.$.infractorElement;
        this.confirmacion = false;
        this.formulario.delitos = this.delitosSelected;
        console.log(this.formulario);
        
        if(this.formulario.numero_documento == ""){
          infractorElement.setError(true, "Ingresar número de documento");
        }else if(this.formulario.numero_documento == ""){
          infractorElement.setError(true, "Ingresar número de documento");
        }else if(this.formulario.tipo_documento == "DNI" && 
                 this.formulario.numero_documento.length != 8){
          infractorElement.setError(true, "Ingresar 8 dígitos en el número de documento");
        }else if(this.formulario.tipo_documento == "CE" && 
                 this.formulario.numero_documento.length != 11){
          infractorElement.setError(true, "Ingresar 11 dígitos en el número de documento");
        }else if(this.formulario.apellido_paterno == ""){
          infractorElement.setError(true, "Ingresar apellido paterno del infractor");
        }else if(this.formulario.apellido_materno == ""){
          infractorElement.setError(true, "Ingresar apellido materno del infractor");
        }else if(this.formulario.nombres == ""){
          infractorElement.setError(true, "Ingresar nombres del infractor");
        }else if(this.formulario.delitos.length == 0){
          infractorElement.setError(true, "Ingresar al menos 1 delito");
        }else{
          infractorElement.registro();
        }
      }

      _nuevoRegistro(){
        this.confirmacion = false;
      }

      _cambioForm(){
        this.delitos = this.initDelitos;
        this.delitosSelected = [];
      }

      _compareRole(role, roles){
        var arrayRoles = roles.split(/\s*;\s*/);
        var encontrado = false;
        for (var i=0; i < arrayRoles.length; i++) {
          if(arrayRoles[i] == role){
             encontrado = true;
          }
        }
        return encontrado;
      }
    }

    window.customElements.define(UiRegistroPersona.is, UiRegistroPersona);
  </script>
</dom-module>
