<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">

<link rel="import" href="../db-infractor/db-infractor.html">

<dom-module id="ui-registro-personas">
  <template>

    <db-infractor id="infractorElement" logged="{{logged}}" error="{{error}}" form-registro-masivo="{{formulario}}"  confirmacion="{{confirmacion}}"></db-infractor>

    <!-- Custom fonts for this theme (color)-->
    <link href="styles/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="styles/css/freelancer.css" rel="stylesheet">

    <!-- Contact Section -->
    <section class="page-section" id="contact">
      <br/><br/>

      <div class="container">
        <div class="page-header">
          <h1>Registro Masivo</h1>
          <br>
        </div>

        <!-- Contact Section Form -->
        <form name="sentMessage" id="contactForm" novalidate="novalidate">
          <div class="row">
          <div class="col-md-5 offset-md-1">
                <div class="control-group">
                  <div class="form-group">
                    <paper-input type="file" id="myFile" on-change="_leerArchivo" on-blur="_nuevoRegistro" on-focus="_nuevoRegistro"></paper-input>
                  </div>
                </div>
            </div>
            <div class="col-md-5 offset-md-1">
                <div class="control-group">
                  <div class="form-group floating-label-form-group controls mb-0 pb-2">
                    <br>
                    <button type="button" class="btn btn-primary btn-sm" id="sendMessageButton" on-click="_validarArchivo">Validar</button>
                    <p class="help-block text-danger"></p>
                  </div>
                </div>

                <br>
                <div id="success"></div>
            </div>
          </div>

        <div class="row">
          <div class="offset-md-1 col-md-10">
            <template is="dom-if" if="[[error.mostrar]]">
              <div class="alert alert-danger" role="alert">
                [[error.mensaje]]
              </div>
            </template>
          </div>
        </div>
          <div class="row">
            <div class="offset-md-1 col-md-10">
              <template is="dom-if" if="[[confirmacion]]">
                <div class="alert alert-success" role="alert">
                  Se ha registrado correctamente!
                </div>
              </template>
            </div>
          </div>


        <br/>
        <template  is="dom-if" if="[[buscado]]">

          <div class="row">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">Tipo de Identidad</th>
                  <th scope="col">Nro. Documento</th>
                  <th scope="col">Nombres</th>
                  <th scope="col">Apellido Paterno</th>
                  <th scope="col">Apellido Materno</th>
                  <th scope="col">Tipo de delito</th>
                  <th scope="col">Observación</th>
                </tr>
              </thead>
              <tbody>
                <template is="dom-repeat" items="[[infractoresIni]]">
                  <tr class$="[[item.error]]">
                    <td>[[item.tipo_documento]]</td>
                    <td>[[item.numero_documento]]</td>
                    <td>[[item.nombres]]</td>
                    <td>[[item.apellido_paterno]]</td>
                    <td>[[item.apellido_materno]]</td>
                    <td>
                      <template is="dom-repeat" items="[[item.delitos]]" as="delitoItem">
                        <span>[[delitoItem.descripcion]]</span><br/>
                      </template>
                    </td>
                    <td>[[item.observacion]]</td>
                  </tr>
                </template>
            </table>
          </div>

          <template  is="dom-if" if="[[habilitarGuardado]]">
            <div class="col-md-5 offset-md-5">
              <div class="form-group">
                <button type="button" class="btn btn-primary btn-xl" id="sendMessageButton" on-click="_guardarInfractores">Guardar</button>
              </div>
            </div>
          </template>

        </template>


        </form>
      </div>
    </section>

  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class UiRegistroPersonas extends Polymer.Element {
      static get is() { return 'ui-registro-personas'; }
      static get properties() {
        return {
          delitos: {
            type: Array,
            notify: true
          },
          formulario: {
            type: Array,
            notify: true
          },
          infractoresIni: {
            type: Array,
            notify: true
          },
          files: Object,
          reader: Object,
          buscado:{
            type: Boolean,
            value: false
          },
          habilitarGuardado:{
            type: Boolean,
            value: false
          },
          confirmacion : {
            type: Boolean,
            notify: true,
            value: false,
            observer: "_confirmacion"
          },
          error:{
            type: Object,
            notify: true,
            value: {
              "mensaje" : "",
              "mostrar" : false
            }
          }
        };
      }

      _confirmacion(){
        this.buscado=false;
        this.habilitarGuardado=false;
        this.infractoresIni=[];
      }

      _guardarInfractores(){
        if(this.habilitarGuardado){
          var infractorElement = this.$.infractorElement;
          this.formulario = this.reader.infractores; 
          infractorElement.registroMasivo();
        }
      }

      /*
       Lectura de archivos
      */
      _leerArchivo(e) {

        var infractorElement = this.$.infractorElement;
        infractorElement.setError(false, "");

        this.files = this.$.myFile.inputElement.inputElement.files;
        var file = this.$.myFile.inputElement.inputElement.files[0];

        this.reader = new FileReader();
        var arrayText;
        var firstLine;
        var functionConvertir = this._convertirAJson;
        var functionReemplazar = this._reemplazarTexto;
        var delitos = this.delitos;
        var infractoresJson = [];
        var arrayTitulo = [];

        this.reader.onload = function(e) {
            var text = this.result;
            arrayText = text.split('\n');
            firstLine = arrayText.shift(); 
            arrayTitulo = firstLine.split(';');
            infractoresJson = functionConvertir(arrayTitulo, arrayText, delitos, functionReemplazar);
            Object.assign(this, {"infractores": infractoresJson});
            Object.assign(this, {"arrayTitulo": arrayTitulo});
            console.log(this);
        }
        this.reader.readAsText(file, 'UTF-8');    
      }

      _validarArchivo(){
        var arrayTitulo = this.reader.arrayTitulo;
        var infractorElement = this.$.infractorElement;
        this._nuevoRegistro();
        infractorElement.setError(false, "");

        //Validar Titulo
        if((arrayTitulo.indexOf("TIP_DOC") > -1) && (arrayTitulo.indexOf("NUM_DOC") > -1)
          && (arrayTitulo.indexOf("APE_PAT") > -1) && (arrayTitulo.indexOf("APE_MAT") > -1)
          && (arrayTitulo.indexOf("NOMBRES") > -1) && (arrayTitulo.indexOf("DELITOS") > -1)
          && (arrayTitulo.indexOf("RECOMP") > -1) && (arrayTitulo.indexOf("COMENTARIO") > -1)){

          var infractores = this.reader.infractores; 
          var validadoOk = true; 
          var validadoMsg = "";

          var infractoresValidados = [];
          console.log("infractores");

          infractores.forEach(function(infractor) {
          // for (let i = 0; i < infractores.length; i++) {
            //let infractor = infractores[i];
            console.log(infractor);
            var filaValidadoOk = ""; 
            validadoMsg = "";

            if(infractor.tipo_documento!="DNI" && infractor.tipo_documento!="CE"){
              validadoOk = false;
              validadoMsg = "Tipo documento incorrecto";
            }else if(infractor.numero_documento==""){
              validadoOk = false;
              validadoMsg = "Número de documento vacio";
            }else if(infractor.apellido_paterno==""){
              validadoOk = false;
              validadoMsg = "Apellido paterno vacio";
            }else if(infractor.apellido_materno==""){
              validadoOk = false;
              validadoMsg = "Apellido materno vacio";
            }else if(infractor.nombres==""){
              validadoOk = false;
              validadoMsg = "Nombres vacios";
            }else if(infractor.delitos.length==0){
              validadoOk = false;
              validadoMsg = "No tiene delitos asociados";
            }
            infractor.error = validadoMsg!=""? "error" : "success";
            infractor.observacion = validadoMsg;
            infractoresValidados.push(infractor);

          // }
          });

          if(!validadoOk){
            infractorElement.setError(true, "Se encontraron errores en el archivo");
          }
          this.habilitarGuardado = validadoOk;
          this.buscado = true;
          this.infractoresIni = infractoresValidados; 

        }else{
          this.buscado = false;
          infractorElement.setError(true, "Formato de archivo incorrecto");
        }

      }

      _convertirAJson(arrayTitulo, arrayText, delitos, functionReemplazar){

          var index = 0;
          var longFila = 0;
          var i,j,k;
          var jsonString = '[';
          var delitosFound = [];

          while( (i = arrayText.shift()) !== undefined && index<100) {
            var arrayFila = i.split(';');
            jsonString += '{';
            let body = '';
            while( (j = arrayFila.shift()) !== undefined && longFila<arrayTitulo.length-1) {
              if(arrayTitulo[longFila]!="DELITOS"){
                body += '"' + arrayTitulo[longFila] + '":"' +  j + '",';
              }else{
                var arrayDelitos = j.split(',');
                while( (k = arrayDelitos.shift()) !== undefined) {
                  let delito = delitos.find(x => x._id === k);
                  if(delito!=null && delito!=undefined){
                    delitosFound.push(delito);
                  }
                }
                let delitosString = JSON.stringify(delitosFound);
                body += '"' + arrayTitulo[longFila] + '":' +  delitosString + ',';
              }
              longFila++;
            }
            delitosFound = [];
            body = body.substring(0, body.length - 1);
            body = functionReemplazar(body);
            jsonString += body + '},';
            longFila = 0;
            index++;
          }
          jsonString = jsonString.substring(0, jsonString.length - 1);
          jsonString += ']';
          var jsonInfractores = JSON.parse(jsonString);
          return jsonInfractores;
      }

      _reemplazarTexto(texto){
        var respuesta = texto.replace("TIP_DOC", "tipo_documento");
        respuesta = respuesta.replace("NUM_DOC", "numero_documento");
        respuesta = respuesta.replace("APE_PAT", "apellido_paterno");
        respuesta = respuesta.replace("APE_MAT", "apellido_materno");
        respuesta = respuesta.replace("NOMBRES", "nombres");
        respuesta = respuesta.replace("DELITOS", "delitos");
        respuesta = respuesta.replace("RECOMP", "recompensa");
        respuesta = respuesta.replace("COMENTARIO", "comentarios");
        return respuesta
      }
      _nuevoRegistro(){
        this.confirmacion = false;
      }
      
      _compareRole(role, roles){
        var arrayRoles = roles.split(/\s*;\s*/);
        var encontrado = false;
        for (var i=0; i < arrayRoles.length; i++) {
          if(arrayRoles[i] == role){
             encontrado = true;
          }
        }
        return encontrado;
      }
    }

    window.customElements.define(UiRegistroPersonas.is, UiRegistroPersonas);
  </script>
</dom-module>
