<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">

<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">

<link rel="import" href="../db-login/db-login.html">

<dom-module id="ui-login">
  <template>

    <db-login id="loginElement" user="[[user]]" logged="{{logged}}" error="{{error}}"></db-login>

    <!-- Custom fonts for this theme -->
    <link href="styles/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="styles/css/freelancer.min.css" rel="stylesheet">

    <!-- Contact Section -->
    <section class="page-section" id="contact">
      <div class="container">

        <!-- Contact Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Personas no deseadas </h2>

        <!-- Icon Divider -->
        <div class="divider-custom">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon">
            <i class="fas fa-star"></i>
          </div>
          <div class="divider-custom-line"></div>
        </div>

        <!-- Contact Section Form -->
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
            <form name="sentMessage" id="contactForm" novalidate="novalidate">
              <div class="control-group">
                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                    <label>Usuario</label>
                    <input class="form-control" type="text" placeholder="Usuario" value="{{user.registry::input}}">
                    <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="control-group">
                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                    <label>Contraseña</label>
                    <input class="form-control" type="password" placeholder="Contrase&ntilde;a" value="{{user.password::input}}">
                    <p class="help-block text-danger"></p>
                </div>
              </div>
              <br>

              <template is="dom-if" if="[[error.mostrar]]">
                <div class="alert alert-danger" role="alert">
                  [[error.mensaje]]
                </div>
              </template>

              <div id="success"></div>
              <div class="form-group">
                <button 
                  type="button" class="btn btn-primary btn-xl" id="sendMessageButton" on-click="_loginEvent">Enviar</button>
              </div>

            </form>
          </div>
        </div>

      </div>
    </section>


    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-to-top d-lg-none position-fixed ">
      <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>


  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class UiLogin extends Polymer.Element {
      static get is() { return 'ui-login'; }
      static get properties() {
        return {
          logged:{
            type: Object,
            notify: true
          },
          user:{
            type: Object,
            notify: true,
            value : {
              "registry" : "",
              "password" : ""
            }
          },
          error:{
            type: Object,
            notify: true,
            value: {
              "mensaje" : "",
              "mostrar" : false
            }
          }

        };

      }

      ready(){
        super.ready();  
      }

      _loginEvent(){

        var loginElement = this.$.loginElement;
        var usuario = this.user.registry.trim();
        var password = this.user.password.trim();

        if(usuario!="" && password!=""){
          loginElement.login();
        }else if(usuario==""){
          loginElement.setError(true, "Ingresar usuario");
          this.user.usuario = "";
        }else if(password==""){
          loginElement.setError(true, "Ingresar contraseña");
          this.user.password = "";
        }
      }
    }

    window.customElements.define(UiLogin.is, UiLogin);
  </script>
</dom-module>
