<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/app-storage/app-localstorage/app-localstorage-document.html">

<link rel="import" href="../ui-login/ui-login.html">
<link rel="import" href="../ui-main/ui-main.html">

<dom-module id="personas-no-deseadas-app">
  <template>

    <app-localstorage-document id="logged" key="logged" data="{{logged}}" storage="window.localStorage"></app-localstorage-document>

    <link href="styles/vendor/fontawesome-free/css/all.min.css" rel="" "stylesheet" type="text/css">
    <link href="styles/css/freelancer.min.css" rel="stylesheet">


    <template is="dom-if" if="{{logged.isLogged}}">
      <ui-main logged="[[logged]]"></ui-main>
    </template>

    <template is="dom-if" if="{{!logged.isLogged}}">
      <ui-login logged="{{logged}}"></ui-login>
    </template>


  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class PersonasNoDeseadasApp extends Polymer.Element {
      static get is() { return 'personas-no-deseadas-app'; }
      static get properties() {
        return {
          route: Object,
          data: {
            type: Object
          },
          logged:{
            type: Object,
            notify: true,
            value: {
              "isLogged" : false,
              "registry" : "",
              "role" : "",
              "token" : ""
            }
          }
        };
      }

      ready(){
        super.ready();  
      }

    }

    window.customElements.define(PersonasNoDeseadasApp.is, PersonasNoDeseadasApp);
  </script>
</dom-module>
